
@font-face {
  font-family: 'MocharyPERSONALUSEONLY';
  src: url('MocharyPERSONALUSEONLY.eot?#iefix') format('embedded-opentype'),  url('MocharyPERSONALUSEONLY.woff') format('woff'), url('MocharyPERSONALUSEONLY.ttf')  format('truetype'), url('MocharyPERSONALUSEONLY.svg#MocharyPERSONALUSEONLY') format('svg');
  font-weight: normal;
  font-style: normal;
}
